nav {
    background-color: #eeeeee;
    border-bottom: rgb(232, 10, 10) 3px solid; 
    height: 75px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    margin: 0 auto;
}

li {
    text-decoration: none;
}

a {
    margin: 20px;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #eeeeee;
    transition: 1s;
}